# Stuff from vscode
.vscode/
# Test files for development
pet_templates/
# Stuff from other required libraries
# These need to be installed by the user
Imaging_Transcriptomics/__pycache__
Imaging_Transcriptomics/markello_spatialnulls
Imaging_Transcriptomics/pyls
Imaging_Transcriptomics/tests
Imaging_Transcriptomics/utils/__pycache__
# MAC related files
.DS_STORE
# Packaging stuff
build
dist
